<div class="container">
  <div align="center">
    <div align="center" class="form-signin">
      <div
        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
        style="margin-bottom: 10px">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div align="center" id="dial" class="form-signin-content">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div id="webphone_body">
                  <div id="webphone_display">
                    <h4><span id="whoami"></span></h4>
                    <div id="dialadv1"></div>
                    <div
                      style="
                        max-width: 95%;
                        margin: -20px 0px 0px 0px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: clip;
                      "
                    >
                      <input
                        id="ext"
                        type="hidden"
                        class="form-control input-lg"
                        placeholder="number to dial (eg: 0549123456)"
                      />
                      <h2>
                        <div>{{user}}</div>
                        <span #calling style="font-size: 20px !important"
                          >...</span
                        >
                      </h2>
                      <input
                        id="calling_input"
                        style="max-width: 280px; font-size: 15px !important"
                        class="form-control input-sm"
                        placeholder="number to dial (eg: 0549123456)"
                        [value]="result"
                      />
                    </div>
                  </div>
                  <div id="isIncomingcall">
                    <div class="row">
                      <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                        &nbsp;
                      </div>
                      <div
                        class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6"
                        id="webphone_keypad"
                      >
                        <button
                        (click)="digitClick('1')"
                          class="btn btn-lg btn-primary btn-default"
                          data-inline="true"
                          style="
                            margin-bottom: 5px;
                            margin-right: 3px;
                            width: 48px !important;
                            height: 48px !important;
                            font-size: 20px;
                            font-weight: bold;
                          "
                        >
                          1
                        </button>
                        <button
                        (click)="digitClick('2')"
                          class="btn btn-lg btn-primary btn-default"
                          data-inline="true"
                          style="
                            margin-bottom: 5px;
                            margin-right: 3px;
                            width: 48px !important;
                            height: 48px !important;
                            font-size: 20px;
                            font-weight: bold;
                          "
                        >
                          2
                        </button>
                        <button
                        (click)="digitClick('3')"
                          class="btn btn-lg btn-primary btn-default"
                          data-inline="true"
                          style="
                            margin-bottom: 5px;
                            margin-right: 3px;
                            width: 48px !important;
                            height: 48px !important;
                            font-size: 20px;
                            font-weight: bold;
                          "
                        >
                          3
                        </button>
                        <br />
                        <button
                        (click)="digitClick('4')"
                          class="btn btn-lg btn-primary btn-default"
                          data-inline="true"
                          style="
                            margin-bottom: 5px;
                            margin-right: 3px;
                            width: 48px !important;
                            height: 48px !important;
                            font-size: 20px;
                            font-weight: bold;
                          "
                        >
                          4
                        </button>
                        <button
                        (click)="digitClick('5')"
                          class="btn btn-lg btn-primary btn-default"
                          data-inline="true"
                          style="
                            margin-bottom: 5px;
                            margin-right: 3px;
                            width: 48px !important;
                            height: 48px !important;
                            font-size: 20px;
                            font-weight: bold;
                          "
                        >
                          5
                        </button>
                        <button
                        (click)="digitClick('6')"
                          class="btn btn-lg btn-primary btn-default"
                          data-inline="true"
                          style="
                            margin-bottom: 5px;
                            margin-right: 3px;
                            width: 48px !important;
                            height: 48px !important;
                            font-size: 20px;
                            font-weight: bold;
                          "
                        >
                          6
                        </button>
                        <br />
                        <button
                        (click)="digitClick('7')"
                          class="btn btn-lg btn-primary btn-default"
                          data-inline="true"
                          style="
                            margin-bottom: 5px;
                            margin-right: 3px;
                            width: 48px !important;
                            height: 48px !important;
                            font-size: 20px;
                            font-weight: bold;
                          "
                        >
                          7
                        </button>
                        <button
                        (click)="digitClick('8')"
                          class="btn btn-lg btn-primary btn-default"
                          data-inline="true"
                          style="
                            margin-bottom: 5px;
                            margin-right: 3px;
                            width: 48px !important;
                            height: 48px !important;
                            font-size: 20px;
                            font-weight: bold;
                          "
                        >
                          8
                        </button>
                        <button
                        (click)="digitClick('9')"
                          class="btn btn-lg btn-primary btn-default"
                          data-inline="true"
                          style="
                            margin-bottom: 5px;
                            margin-right: 3px;
                            width: 48px !important;
                            height: 48px !important;
                            font-size: 20px;
                            font-weight: bold;
                          "
                        >
                          9
                        </button>
                        <br />
                        <button
                        (click)="digitClick('*')"
                          class="btn btn-lg btn-primary btn-default"
                          data-inline="true"
                          style="
                            margin-bottom: 5px;
                            margin-right: 3px;
                            width: 48px !important;
                            height: 48px !important;
                            font-size: 20px;
                            font-weight: bold;
                          "
                        >
                          .*
                        </button>
                        <button
                        (click)="digitClick('0')"
                          class="btn btn-lg btn-primary btn-default"
                          data-inline="true"
                          style="
                            margin-bottom: 5px;
                            margin-right: 3px;
                            width: 48px !important;
                            height: 48px !important;
                            font-size: 20px;
                            font-weight: bold;
                          "
                        >
                          0
                        </button>
                        <button
                        (click)="digitClick('#')"
                          class="btn btn-lg btn-primary btn-default"
                          data-inline="true"
                          style="
                            margin-bottom: 5px;
                            margin-right: 3px;
                            width: 48px !important;
                            height: 48px !important;
                            font-size: 20px;
                            font-weight: bold;
                          "
                        >
                          #
                        </button>
                        <br />
                        <button
                        (click)="greenHandphoneClick()"
                          class="btn btn-sm btn-primary btn-success"
                          data-inline="true"
                          id="anscallbtn"
                          style="
                            margin-top: 5px;
                            margin-bottom: 5px;
                            margin-right: 2px;
                            width: 72px !important;
                          "
                        >Answer
                        </button>
                        <button
                        (click)="redHandphoneClick()"
                          class="btn btn-sm btn-primary btn-danger"
                          data-inline="true"
                          id="rejcallbtn"
                          style="
                            margin-top: 5px;
                            margin-bottom: 5px;
                            margin-right: 2px;
                            width: 72px !important;
                          "
                        >
                          Reject</button>
                        <button
                          (click)="hold()"
                          class="btn btn-sm btn-primary btn-danger"
                          data-inline="true"
                          id="holdbtn"
                          style="
                            margin-top: 5px;
                            margin-bottom: 5px;
                            margin-right: 2px;
                            width: 72px !important;
                          "
                        >
                          Hold</button
                        >
                        <button
                          (click)="toggleMic()"
                          class="btn btn-sm btn-primary btn-danger"
                          data-inline="true"
                          id="toggleMic"
                          style="
                            margin-top: 5px;
                            margin-bottom: 5px;
                            margin-right: 2px;
                            width: 82px !important;
                          "
                        >
                          Toggle mic</button
                        ><br />
                        <br />
                      </div>
                      <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                        &nbsp;
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
                        style="color: #808080"
                      >
                        <i>UMLAUT WebRTC Phone</i>
                      </div>
                    </div>
                    <div class="row">
                      <div align="center" class="inner" style="color: #808080">
                        Giovanni Maruzzelli - OpenTelecom.IT
                                    &
                        Miłosz Sokołowski - Umlaut Polska
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
